:root {
    --color-primary: #EC4C8A;
    --color-secondary: #B13967;
    --color-txt: #FEFDFB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);

}

.Widget {
    border: 1px solid var(--color-secondary);
    color: var(--color-txt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.Widget img {
    order: -1;
    width: 50px;
    margin: 1.2rem 0.575rem 0 .575rem;
    align-self: center;
}

.Widget div {
    padding: 1.4rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Widget div > h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.Widget div > p {
    margin-left: 0.575rem;
}

.coinCatogory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.title {
    font-size: 2rem;
    margin: 1.8rem 0;
    text-align: center;
}